<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scnu.cn.cqx.user.mapper.GoodsMapper">

    <select id="queryGoodsAllCount" resultType="java.lang.Integer">
        select count(*) from goods
    </select>

    <select id="queryGoodsCount" resultType="java.lang.Integer">
        select count(*) from goods
        <where>
            <if test="goods.goodsId!=null and goods.goodsId!=''">
                and goods_id=#{goods.goodsId}
            </if>
            <if test="goods.shopId!=null and goods.shopId!=''">
                and shop_id=#{goods.shopId}
            </if>
            <if test="goods.goodsName!=null and goods.goodsName!=''">
                and goods_name like '%${goods.goodsName}%'
            </if>
            <if test="goods.goodsType!=null and goods.goodsType!=''">
                and goods_type=#{goods.goodsType}
            </if>
            <if test="goods.goodsPrice!=null and goods.goodsPrice!='' or goods.goodsPrice==0">
                and goods_price=#{goods.goodsPrice} or goods_discount_price=#{goods.goodsPrice}
            </if>
        </where>
    </select>

</mapper>